body {
    margin-top: 20px;
    background-color: #f0f6ff;
}


/*timeline*/

a {
    text-decoration: none;
}

.time-line{
  padding-top: 100px;
  padding-bottom: 100px;
}




/******************* Timeline Demo - 5 *****************/

.main-timeline3 {
    overflow: hidden;
    position: relative
}


.main-timeline3 .timeline:first-child {
    margin-top: 0;
}

.main-timeline3 .timeline-icon,
.main-timeline3 .year {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline3 .timeline:after,
.main-timeline3 .timeline:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline3 .timeline:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.main-timeline3 .timeline-icon {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #f44556;
    border-right-color: #f44556;
    z-index: 1;
    transform: rotate(45deg);
}

.main-timeline3 .year {
    display: block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    font-size: 30px;
    font-weight: 700;
    color: #f44556;
    text-align: center;
    transform: rotate(-45deg);
}

.main-timeline3 .timeline-content {
    width: 35%;
    float: right;
    background: #f44556;
    padding: 30px 20px;
    margin: 50px 0;
    box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);
    z-index: 1;
    position: relative;
}

.main-timeline3 .timeline-content:before {
    content: "";
    width: 20%;
    height: 15px;
    background: #f44556;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%);
}

.main-timeline3 .title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    font-family: Montserrat;
    margin: 0 0 10px;
}

.main-timeline3 .description {
    font-size: 16px;
    color: #c9c9c9;
    line-height: 24px;
    margin: 0;
}

.main-timeline3 .timeline:nth-child(2n) .timeline-icon {
    transform: rotate(-135deg);
    border-top-color: #0b0f4d;
    border-right-color: #0b0f4d;
}

.main-timeline3 .timeline:nth-child(2n) .year {
    transform: rotate(135deg);
    color: #0b0f4d;
}

.main-timeline3 .timeline:nth-child(2n) .timeline-content {
    float: left;
}

.main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
    left: auto;
    right: -20%;
}

.main-timeline3 .timeline:nth-child(2n) .timeline-content,
.main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
    background: #0b0f4d;
}

.main-timeline3 .timeline:nth-child(3n) .timeline-icon {
    border-top-color: #ed4355;
    border-right-color: #ed4355;
}

.main-timeline3 .timeline:nth-child(3n) .year {
    color: #ed4355;
}

.main-timeline3 .timeline:nth-child(3n) .timeline-content,
.main-timeline3 .timeline:nth-child(3n) .timeline-content:before {
    background: #ed4355;
}

.main-timeline3 .timeline:nth-child(4n) .timeline-icon {
    border-top-color: #0b0f4d;
    border-right-color: #0b0f4d;
}

.main-timeline3 .timeline:nth-child(4n) .year {
    color: #0b0f4d;
}

.main-timeline3 .timeline:nth-child(4n) .timeline-content,
.main-timeline3 .timeline:nth-child(4n) .timeline-content:before {
    background: #0b0f4d;
}

@media only screen and (max-width:1199px) {
    .main-timeline3 .timeline {
        margin-top: -103px;
    }
    .main-timeline3 .timeline-content:before {
        left: -18%;
    }
    .main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
        right: -18%;
    }
}

@media only screen and (max-width:990px) {
    .main-timeline3 .timeline {
        margin-top: -127px;
    }
    .main-timeline3 .timeline-content:before {
        left: -2%;
    }
    .main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
        right: -2%;
    }
}

@media only screen and (max-width:767px) {
    .main-timeline3 .timeline {
        margin-top: 0;
        overflow: hidden;
    }
    .main-timeline3 .timeline:before,
    .main-timeline3 .timeline:nth-child(2n):before {
        box-shadow: none;
    }
    .main-timeline3 .timeline-icon,
    .main-timeline3 .timeline:nth-child(2n) .timeline-icon {
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg);
    }
    .main-timeline3 .timeline:nth-child(2n) .year,
    .main-timeline3 .year {
        transform: rotate(-135deg);
    }
    .main-timeline3 .timeline-content,
    .main-timeline3 .timeline:nth-child(2n) .timeline-content {
        width: 100%;
        float: none;
        border-radius: 0;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto;
    }
    .main-timeline3 .timeline-content:before,
    .main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0);
    }
}

.main-timeline3 .timeline {
    position: relative;
    margin-top: -51px;
}
.main-timeline3 .time-line-three-three{
  position: relative;
  margin-top: -75px;
}
.main-timeline3 .time-line-three-four{
  position: relative;
  margin-top: -99px;
}

.banner{
background-color: #0d0f5b;
}
.social-ul{
  margin-right: 30px;
}
.color-nav {
  background-color: #0b0f4d;!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    margin-left: 400px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 30px;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 32px;
    padding: 15px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #ea5267;
}

.fa-instagram, .fa-facebook, .fa-twitter, .fa-envelope{
  font-size: 24px;
  margin: 0;
  margin-right: -30px;
}
.nav-social{
  position:relative;
}
.section-1-container-bg{
  background-image: url(img/Live-Wave-Background.svg);
  padding-bottom: 100px;
  z-index: 10;
}

.banner-text-h1{
  z-index: 30;
  margin-top: 320px;
  font-size: 30px;
  color: #fff;
  padding-bottom: 30px;
  margin-left: 5px;
}
.banner-text-p{
  font-size: 70px;
  line-height: 90px;
  color: #fff;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  font: 300 13px/18px "Poppins", Helvetica, sans-serif;
}
.About{
  padding-top: 100px;
  background-color: #0d0f5b;
  padding-bottom: 100px;
}
.Contact-button-banner{
  background-color: #ea5267;
  border: none;
  padding-top: 12px;
  margin-top: 30px;
  font-size: 18px;
  padding-bottom: 12px;
  padding-right: 35px;
  padding-left: 35px;
  color: #fff;
  box-shadow: none;
}
.Contact-button-banner:hover{
  background-color: #0d0f5b;
}
.about-h2{
    font-size: 42px;
    color: #fff;
    line-height: 46px;
    margin-bottom: 0px;
    padding: 50px;
    margin-left: -45px;
}
.about-p {
    font-size: 18px;
    line-height: 28px;
    color: #C9C9C9;
    margin: 20px 0;
    margin-top: 26px;
}
.download-button{
  background-color: #ea5267;
  border: none;
  padding-top: 12px;
  margin-top: 30px;
  font-size: 18px;
  padding-bottom: 12px;
  padding-right: 35px;
  padding-left: 35px;
  color: #fff;
  box-shadow: none;
}
.download-button:hover{
  background-color: #0d0f5b;
}
.progress{
  margin: 30px;

}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ea5267;
    transition: width .6s ease;
}
.progress-P{
  color: #FFF;
  margin-left: 31px;
  font-size: 16px;
    color: #fff;
    font-weight: 400;
  margin-bottom: -23px;
}
.mar-top{
  margin-top: 28px;
}

.my-services{
  padding-bottom: 100px;
  background-color:  #0d0f5b;
}
.services-h2{
  font-size: 50px;
padding-top: 100px;
  color: #fff;
}
.service-png{
 width: 50%;
  color: #fff;
  padding: 30px;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 80px;
}
.services-h4{
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.services-p{
  text-align: center;
  font-size: 16px;
  color: #C9C9C9;
  line-height: 24px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.services-box{
  margin-top: 100px;
  height: 390px;
  border: 2px solid #ea5267;
  box-shadow: 0px 10px 10px 0px #ea5267;
}
.services-box:hover{
  margin-top: 50px;
  box-shadow: 0px 10px 10px 0px #0d0f5b;
}
.contact{
  padding-bottom: 10px;
  padding-top: 100px;
  background-color:  #0d0f5b;

}
.contact-h1{
  font-size: 50px;
padding-top: 100px;
  color: #fff;
}

.fa-phone, .fa-envelope-o, .fa-linkedin{
  font-size: 75px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: #ea5267;
}
.contact-a{
  text-align: center;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}
.contact-a:hover{
    color: #ea5267;
    text-decoration: none;
}
.contact-p {
    margin-top: 20px;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-box{
    margin-top: 100px;
    height: 320px;
    border: 2px solid #ea5267;
    box-shadow: 0px 10px 10px 0px #ea5267;
  }
.contact-anchor-p{
  text-align: center;
}

iframe{
  width: 100%;
  box-shadow: 0px 0px 10px 10px #ea5267;
}
.map{
  margin-top: 100px;
    padding-bottom: 100px;
}
#contacts{
  padding-top: 50px;
}
#services{
  padding-top: 50px;
}
.service-com-img{
 width: 44%;
 padding-bottom: 30px;
 margin-top: 55px;
 margin-left: 95px;
}
.service-e-com-img{
  width: 46%;
  margin-bottom: 0;
  padding-bottom: 25px;
  margin-top: 50px;
   margin-left: 95px;
}
.about-h1{
  color: #fff;
  font-size: 50px;
  padding-top: 100px;
}

/* entypo */

a {
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#sticky-social {
   left: 0;
   position: fixed;
   top: 400px;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 55px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 50px;
   border: none;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
   height: 55px;
   padding-top: 8px;
   border: none;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #0d0f5b;border: none; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #ea5267;border: none; }

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span { background: #0d0f5b; border: none;}

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #ea5267;border: none;}

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #0d0f5b;border: none; }

.social-favicon-sidebar{
  margin: 0;
  padding-top: 15px;
  font-size: 22px;
  color: #fff;
}
.my-img{
  height: auto;
  width: 100%;
  margin-top: 187px;
  margin-left:-100px;
  box-shadow: 0px 0px 10px 10px #ea5267;
}
footer{
  background-image: url(img/Live-Wave-Background.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-section{
  padding-bottom: 50px;
  height: auto;
}
.footer-p{
color: #0e145b;
margin-top: 30px;
font-size: 16px;
padding-right: 30px;
text-align: inherit;
line-height: 20px;
}
.footer-h2{
  margin-top: 100px;
  color: #0e145b;
  font-size: 24px;
}
.border-footer {
    margin-top: 30px;
    border-top: 2px solid #ea5267;
}
.foot-quick-link{
  color:  #0e145b;
  list-style: none;
}
.foot-quick-link:hover{
  color: #ea5267;
  list-style: none;
}
.foot-quick-link-ul{
  margin-top: 20px;
  list-style: none;
}
.foot-quick-link-li{
  list-style: none;
  line-height: 40px;
  font-size: 20px;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
.copyright-p{
  text-align: center;
  color: #0e145b;
  margin-top: 20px;
  font-size: 16px;
}
.copyright{
  margin-top: 30px;
  border-top: 2px solid #ea5267;
}
.foot-row{
  margin-bottom: 100px;
}
.downoad-cv-footer-button:hover{
  margin-left: 0;
  background-color: #ea5267;
}
.downoad-cv-footer-button{
  margin-left: 0;
  background-color: #0e145b;
}
.counter {
    background-color:#0e145b;
    padding: 20px 0;
    height: 28vh;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

.count-text {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #C9C9C9;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    font-size: 50px;
    display: table;
    color: #ea5267;
}

.text-center {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width:440px) {
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: #fff;
      margin-left: 15px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 24px;
    margin-left: 15px;
}
.text-center {
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-timeline3 .timeline {
    position: relative;
    margin-top: 0px;
}
.main-timeline3 .time-line-three-three{
  position: relative;
  margin-top: 0px;
}
.main-timeline3 .time-line-three-four{
  position: relative;
  margin-top: 0px;
}
   .mar-top-counter{
    margin-top:25px;
}
 
  #sticky-social {
    left: 0;
    position: fixed;
    top: 300px;
}
.banner-text-p {
    font-size: 40px;
    line-height: 55px;
    color: #fff;
    margin-left: 30px;
}
.nav-social{
  position:relative;
  right: 0px;
  font-size: 30px;
  display: none;
}
.navbar-light .navbar-toggler {
    color: #ea5267;
    border-color: #ea5267;
    background: #ea5267;
}
.banner-text-h1 {
    z-index: 30;
    margin-top: 270px;
    font-size: 24px;
    color: #fff;
    padding-bottom: 20px;
    margin-left: 30px;
}
.navbar-light .navbar-toggler:hover{
  border: none;
}
.my-img {
    height: auto;
    width: 76%;
    margin-top: 110px;
    margin-left: 40px;
    box-shadow: 0px 0px 10px 10px #ea5267;
}
#home{
  height: auto;
  padding-bottom-100px;
}
.about-h2 {
    font-size: 29px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0px;
    margin-left: 0;
}
.about-p {
    font-size: 18px;
    line-height: 28px;
    color: #C9C9C9;
    margin: 20px 0;
    text-align: center;
}
.about-h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.progress-P {
    color: #FFF;
    margin-left: 30;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-bottom: -23px;
}
.mar-top {
    margin-top: 80px;
}
.download-button {
    background-color: #ea5267;
    border: none;
    padding-top: 12px;
    margin-top: 30px;
    font-size: 18px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    color: #fff;
    margin-left: 80px;
    box-shadow: none;
}
.services-h2 {
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    color: #fff;
}
.contact-h1 {
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    color: #fff;
}
.footer-section {
    height: auto;
    padding-bottom: 50px;
}
.footer-h2 {
    margin-top: 100px;
    color: #0b0f4d;
    font-size: 24px;
}
.footer-p {
    color: #fff;
    margin-top: 30px;
    font-size: 16px;
    padding-right: 30px;
    line-height: 20px;
}
.downoad-cv-footer-button:hover{
  margin-left: 0;
  background-color: #ea5267;
}
.downoad-cv-footer-button{
  margin-left: 0;
  background-color: #0e145b;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 50vh;
    -ms-flex-align: center;
    align-items: center;
}
  #sticky-social {
    left: 0;
    position: fixed;
    top: 200px;
    display: none;
}
  .Contact-button-banner {
    background-color: #ea5267;
    border: none;
    padding-top: 12px;
    margin-top: 30px;
    font-size: 18px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    color: #fff;
    margin-left: 30px;
    box-shadow: none;
}
  .About {
    padding-top: 50px;
    background-color: #0d0f5b;
    padding-bottom: 40px;
}
}













@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: #fff;
      margin-left: 15px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 24px;
    margin-left: 15px;
}
.banner-text-p {
    font-size: 50px;
    line-height: 55px;
    color: #fff;
}
.nav-social{
  position:relative;
  right: 0px;
  font-size: 30px;
  display: none;
}
.navbar-light .navbar-toggler {
    color: #ea5267;
    border-color: #ea5267;
    background: #ea5267;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 30vh;
    -ms-flex-align: center;
    align-items: center;
}
.my-img {
    height: auto;
    width: 100%;
    margin-top: 227px;
    margin-left: -60px;
    box-shadow: 0px 0px 10px 10px #ea5267;
}
.section-1-container-bg {
    background-image: url(img/Live-Wave-Background.svg);
    height: auto;
    z-index: 10;
    padding-bottom: 100px;
}
.banner-text-h1 {
    z-index: 30;
    margin-top: 320px;
    font-size: 28px;
    color: #fff;
    padding-bottom: 30px;
    margin-left: 5px;
    margin-left: 40px;
}
.banner-text-p {
    font-size: 50px;
    line-height: 55px;
    color: #fff;
    margin-left: 40px;
}
.Contact-button-banner {
    background-color: #ea5267;
    border: none;
    padding-top: 12px;
    margin-top: 30px;
    font-size: 18px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    color: #fff;
    margin-left: 40px;
    box-shadow: none;
}
.about-h1 {
    color: #fff;
    font-size: 50px;
    padding-top: 0;
}
.about-h2 {
    font-size: 34px;
    color: #fff;
    line-height: 46px;
    margin-bottom: 0px;
    padding: 50px;
    margin-left: -45px;
}
.services-h2 {
    font-size: 50px;
    padding-top: 0;
    color: #fff;
}
.services-h4 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.services-p {
    text-align: center;
    font-size: 14px;
    color: #C9C9C9;
    line-height: 24px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.service-e-com-img {
    width: 60%;
    margin-bottom: 0;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: 44px;
}
.service-com-img {
    width: 55%;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: 47px;
}
.service-png {
    width: 60%;
    color: #fff;
    padding: 20px;
    padding-top: 10px;
    margin-top: 38px;
    margin-left: 47px;
}
.contact-a {
    text-align: center;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
}
.foot-quick-link {
    color: #0b0f4d;
    font-size: 15px;
    list-style: none;
}
.downoad-cv-footer-button{
 font-size: 12px;
}
.contact-h1 {
    font-size: 50px;
    padding-top: 0;
    color: #fff;
}






}
